@model ContactProKev_MVC.Models.EmailContactViewModels



   
<div class="card">
    <form asp-action="EmailContact" asp-controller="Contacts" method="post">
    <div class="card-header">
        <h3 class="heroTitle fs-4 mt-2">Email contact: @Model.Contact!.FullName</h3>
    </div>
    <div class="card-body">
      <div class="row row-cols-1">
          <div class="col">
                    <label asp-for="@Model.EmailData!.EmailAddress" class="form-label">To:</label>
                    <textarea typeof="email" readonly class="form-control" asp-for="@Model.EmailData!.EmailAddress" readonly></textarea>
          </div>
          <div class="col">
                    <label asp-for="@Model.EmailData!.EmailSubject" class="form-label">Subject:</label>
                    <input type="text" class="form-control" asp-for="@Model.EmailData!.EmailSubject" />
          </div>
          <div class="col">
                    <label asp-for="@Model.EmailData!.EmailBody" class="form-label">To:</label>
                    <textarea class="form-control" asp-for="@Model.EmailData!.EmailBody" row="5" required></textarea>
          </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <a asp-action="Index" asp-controller="Contacts" class="btn btn-outline-secondary rounded-pill btnLink">Back</a>
        <button type="submit" class="btn btn-primary rounded-pill btnLink">Send</button>
    </div>
    </form>
</div>